In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score

In [ ]:
os.chdir("..") # If needed set wd to root of project
!pwd

Load data:

In [3]:
ann1=pd.read_csv("./evaluation/manual_evaluation/features/ann1_feature_evaluation_data.csv")
ann3=pd.read_csv("./evaluation/manual_evaluation/features/ann3_feature_evaluation_data.csv")

Inter Annotator Agreement:

In [4]:
for dim in ann1.columns[2:-1]:
    print(dim,":",cohen_kappa_score(ann1[dim],ann3[dim]))

Relatedness : 0.6397255051467785
Specificity : 0.5947249919588292
Richness : 0.7806406685236769
Coherence : 0.8269563545472025
Grammaticality : 0.7087378640776699
Overall : 0.6182846371347785

Feature-wise mean score for each model:

In [7]:
def format_title (text):
    bold_start = "\033[1m"
    bold_end = "\033[0m"
    print(bold_start + text.upper() + bold_end)

In [9]:
for model in ann1["model"].unique():
    a1=ann1.loc[ann1["model"]==model].select_dtypes(include=np.number)
    a3=ann3.loc[ann3["model"]==model].select_dtypes(include=np.number)
    total=a1+a3
    format_title(model)
    display(pd.DataFrame(total.describe().loc["mean"]/2))

MISTRAL_INSTRUCT

                mean
Relatedness     3.75
Specificity     3.55
Richness        3.30
Coherence       3.10
Grammaticality  4.30
Overall         2.70

MISTRAL

                mean
Relatedness     3.65
Specificity     3.55
Richness        3.05
Coherence       3.30
Grammaticality  4.35
Overall         2.60

MISTRAL_ZS_INSTRUCT

                mean
Relatedness     4.20
Specificity     3.15
Richness        3.70
Coherence       4.70
Grammaticality  5.00
Overall         3.50

GOLD_TRUTH

                mean
Relatedness     4.10
Specificity     3.75
Richness        3.25
Coherence       4.80
Grammaticality  4.30
Overall         3.50

ZEPHYR_ZS

                mean
Relatedness     4.95
Specificity     4.25
Richness        4.00
Coherence       5.00
Grammaticality  5.00
Overall         4.25

LLAMA_CHAT

                mean
Relatedness     3.40
Specificity     3.10
Richness        2.95
Coherence       3.30
Grammaticality  4.10
Overall         2.20

MISTRAL_ZS

                mean
Relatedness     3.10
Specificity     3.30
Richness        2.40
Coherence       3.55
Grammaticality  4.60
Overall         1.90

LLAMA_ZS_CHAT

                mean
Relatedness     2.90
Specificity     2.55
Richness        4.30
Coherence       4.90
Grammaticality  5.00
Overall         3.05

ZEPHYR

                mean
Relatedness     4.40
Specificity     4.75
Richness        3.60
Coherence       3.20
Grammaticality  4.35
Overall         2.30